@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@layer base {

  /* Universal */
  #hero-heading {
    text-shadow: 0px 2px 8px hsla(0, 0%, 0%, 0.35);
  }

  /* Home */
  /* Home-Hero */
  #home-hero {
    min-height: fit-content;
    background-image: url("./assets/images/home/hero_bg.png");
    background-size: cover;
  }

  /* .home-hero-btns > .gardient-bg {
    background-image: linear-gradient(to right, #ff9c33, #ff571a);
    transition: background-image 0.2s;
  }

  .home-hero-btns > .gardient-bg:hover {
    background-image: linear-gradient(to right, #FF6B35, #FFA94D);
  } */

  /* Home-Popular Destinations */
  .popular-destination-card-text-bg {
    width: 100%;
    background: linear-gradient(to bottom, transparent, hsla(0, 0%, 0%, 0.35), hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.6), hsla(0, 0%, 0%, 0.8));
  }

  /* About */
  /* About-Hero */
  #about-hero-bg {
    min-height: 550px;
    background-image: url("./assets/images/about_us/about_hero_bg.jpg");
    background-size: cover;
    background-position: center;
  }

  /* Destinations */
  /* Destinations-Hero */
  #destinations-hero-bg {
    min-height: 610px;
    background-image: url("./assets/images/destinations/destinations_hero_bg.jpg");
    background-size: cover;
    background-position: center;
  }

  /* Featured Destinations-Destinations */
  .featured-destination-card-text-bg {
    background: linear-gradient(to bottom, transparent, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 0%, 0.8));
  }

  @keyframes enter {
    from {
      opacity: 0;
      transform: translateY(-10px) scale(0.95);
    }

    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  @keyframes leave {
    from {
      opacity: 1;
      transform: translateY(0) scale(1);
    }

    to {
      opacity: 0;
      transform: translateY(10px) scale(0.95);
    }
  }

  .animate-enter {
    animation: enter 0.25s ease-out forwards;
  }

  .animate-leave {
    animation: leave 0.2s ease-in forwards;
  }

  /* Packages */
  /* Packages-Hero */
  #packages-hero-bg {
    min-height: 450px;
    background-image: url("./assets/images/packages/packages_hero_bg.jpg");
    background-size: cover;
    background-position: center;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Book Now */
  /* You can also style pseudo-elements for some browser-specific components,
   though this support varies greatly across browsers. */
  input[type="date"]::-webkit-calendar-picker-indicator {
    /* Example for Webkit browsers */
    filter: invert(1);
    cursor: pointer;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  /* Services */
  /* Services-Hero */
  #services-hero-bg {
    min-height: 463px;
    background-image: url("./assets/images/services/service_hero_bg.jpg");
    background-size: cover;
    background-position: center;
  }

  /* Loader / Spinner */
  .loader {
    --uib-size: 35px;
    --uib-color: hsl(0, 0%, 100%);
    --uib-speed: 1.8s;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20%;
    justify-content: space-between;
    width: var(--uib-size);
    height: calc(var(--uib-size) * 0.6);
  }

  .cube {
    flex-shrink: 0;
    width: calc(var(--uib-size) * 0.2);
    height: calc(var(--uib-size) * 0.2);
    animation: jump var(--uib-speed) ease-in-out infinite;
  }

  .cube__inner {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 25%;
    background-color: var(--uib-color);
    transform-origin: center bottom;
    animation: morph var(--uib-speed) ease-in-out infinite;
    transition: background-color 0.3s ease;
  }

  .cube:nth-child(2) {
    animation-delay: calc(var(--uib-speed) * -0.36);

    .cube__inner {
      animation-delay: calc(var(--uib-speed) * -0.36);
    }
  }

  .cube:nth-child(3) {
    animation-delay: calc(var(--uib-speed) * -0.2);

    .cube__inner {
      animation-delay: calc(var(--uib-speed) * -0.2);
    }
  }

  @keyframes jump {
    0% {
      transform: translateY(0px);
    }

    30% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }

    50% {
      transform: translateY(-200%);
      animation-timing-function: ease-in;
    }

    75% {
      transform: translateY(0px);
      animation-timing-function: ease-in;
    }
  }

  @keyframes morph {
    0% {
      transform: scaleY(1);
    }

    10% {
      transform: scaleY(1);
    }

    20%,
    25% {
      transform: scaleY(0.6) scaleX(1.3);
      animation-timing-function: ease-in-out;
    }

    30% {
      transform: scaleY(1.15) scaleX(0.9);
      animation-timing-function: ease-in-out;
    }

    40% {
      transform: scaleY(1);
    }

    70%,
    85%,
    100% {
      transform: scaleY(1);
    }

    75% {
      transform: scaleY(0.8) scaleX(1.2);
    }
  }

  /* Footer */
  .footer-bg-gradient {
    background: linear-gradient(to bottom right, #F8E0B0, #FFF8EF);
  }
}


/* hsla(40, 84%, 83%),
hsla(40, 84%, 83%, 0.6),
hsla(34, 100%, 97%, 0.8),
hsla(34, 100%, 97%) */